/*
 *  (C) Copyright 2020 Draeger and Licensors, info@draeger.com
 *
 *  SPDX-License-Identifier: GPL-2.0+
 *  Device Tree file for Drager Valenka Mount Board
 */

/dts-v1/;

#include "imx6q.dtsi"
/* PAD config disabled in imx6qdl-draeger-m48.dtsi by setting value to 0x80000000
 * PAD configuration register must not be 0, so it is set to 0xfff
 */
#define MX6QDL_PAD_CTL_GRP_DDR_TYPE_RGMII        0x790 0xfff 0x000 0x000C0000 0x0
#define MX6QDL_PAD_CTL_GRP_RGMII_TERM            0x7ac 0xfff 0x000 0x00000000 0x0

#include "imx6qdl-draeger-valenka.dtsi"

/ {
	model = "Draeger Valenka Mount";
	compatible = "draeger,m48/q", "fsl,imx6dl";

	aliases {
		ethphy0 = &ethphy0;
		ethphy1 = &ethphy1;
		ethphy2 = &ethphy2;
		ethphy3 = &ethphy3;
		eeprom_mac = &eeprom_mac;
		bcm53134p = &bcm53134p;
	};
};

&i2c3_mux {
	i2c3_7: i2c@7 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <7>;

		eeprom_mac: eeprom@50 {
			compatible = "atmel,24c01";
			reg = <0x54>;
			pagesize = <16>;
		};
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_valenka_enet>;
	phy-mode = "rgmii";
	status = "okay";

	fixed-link {
		speed = <1000>;
		full-duplex;
		fixed-device-handle = <&bcm53134p>;
	};

};

&uart4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_valenka_uart4>;
    status = "okay";
};

&ecspi5 {
	cs-gpios = <&gpio1 17 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_valenka_ecspi5>;
	status = "okay";

	bcm53134p: bcm-switch@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "brcm,bcm53134p";
		spi-max-frequency = <2500000>;
		reg = <0>;

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;

			ethphy0: ethernet-phy@0 {
				reg = <0>;
				status = "okay";
			};

			ethphy1: ethernet-phy@1 {
				reg = <1>;
				status = "okay";
			};

			ethphy2: ethernet-phy@2 {
				reg = <1>;
				status = "okay";
			};

			ethphy3: ethernet-phy@3 {
				reg = <1>;
				status = "okay";
			};
		};

		port0: port@0 {
			reg = <0>;
			phy-handle = <&ethphy0>;
			status = "okay";
		};

		port1: port@1 {
			reg = <1>;
			phy-handle = <&ethphy1>;
			status = "okay";
		};

		port2: port@2 {
			reg = <2>;
			phy-handle = <&ethphy2>;
			status = "disabled";
		};

		port3: port@3 {
			reg = <3>;
			phy-handle = <&ethphy3>;
			status = "disabled";
		};

		port5: port@5 {
			reg = <5>;
			mode = "sgmii";
			enable-optics-gpios = <&gpio1 7 0>;
			status = "okay";
		};

		port8: port@8 {
			reg = <8>;
			imp = <1>;
			mode = "sgmii";
			status = "okay";
		};
	};
};
